.flexyBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}
.registerCard{
    min-height: 150px;
    width: 40%;
    border-radius: 0.25rem;
    margin:10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);

}

.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.registerForm input {
    margin: 15px 0;
    width: 80%;
}

.registerForm h5{
    margin:15px 0;
}
registerForm section{
    margin:15px 0;
}
.userInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checky{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}