.dashPage {
    width: 100%;
    justify-content: center;
}
.dashContainer{
    margin: 10px;
}
.fetchedInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.dashBoard{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.card{
    width: 90%;
    min-height: 150px;

    border-radius: 0.25rem;
    margin:10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}
.card h2{
    color: black;
}
.cardContent{
    overflow: scroll;
    max-height: 450px;
}
.wideCard{
    justify-content:center;
    min-height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
}
